<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>   
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <connectionStrings>
    <add name="MVCProjectConnectionString" connectionString=" Data Source=(local);Initial Catalog=MVCProject;User ID=nirmal;Password=jesuschrist"
      providerName="System.Data.SqlClient" />
    <add name="InterviewProjectConnectionString" connectionString=" Data Source=(local);Initial Catalog=Interview-ProjectDB;User ID=nirmal;Password=jesuschrist"
      providerName="System.Data.SqlClient" />
    <add name="DBConnectionString" connectionString=" Data Source=(local);Initial Catalog=MVCProject;User ID=nirmal;Password=jesuschrist"
      providerName="System.Data.SqlClient" />
    <add name="StoreDBEntities" connectionString="metadata=res://*/App_Code.AspNetEntityModel.csdl|res://*/App_Code.AspNetEntityModel.ssdl|res://*/App_Code.AspNetEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=StoreDB;persist security info=True;user id=nirmal;password=jesuschrist;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StoreDBEntities1" connectionString="metadata=res://*/App_Code.AspNetEntityModel.csdl|res://*/App_Code.AspNetEntityModel.ssdl|res://*/App_Code.AspNetEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=StoreDB;persist security info=True;user id=nirmal;password=jesuschrist;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StoreDBEntities2" connectionString="metadata=res://*/App_Code.ASPNetModelDB.csdl|res://*/App_Code.ASPNetModelDB.ssdl|res://*/App_Code.ASPNetModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=StoreDB;user id=nirmal;passwordjesuschrist;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.web>
   
    <!--<trace pageOutput="true" enabled="true" requestLimit="10" localOnly="false" mostRecent="true" traceMode="SortByTime" />-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />

    <!--<customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config" />
    </customErrors>-->    
    
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>

    <!--<sessionState cookieless="AutoDetect" cookieName="ASP.NET_SessionId"
regenerateExpiredSessionId="false"
timeout="20"
 mode="SQLServer"
                  
sqlConnectionString="Data Source=(local);Initial Catalog=Interview-ProjectDB;User ID=sa;Password=christ"
                  
sqlCommandTimeout="30" allowCustomSqlDatabase="true"
customProvider="" >

    </sessionState>-->
  </system.web>
  
  
  
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService11" />
        <binding name="WSHttpBinding_ISSLService">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56629/Service1.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IService11" contract="WCFDebugServiceRef.IService1"
        name="WSHttpBinding_IService11">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://welcome-pc/WcfSSLService/SSLService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISSLService"
        contract="WcfHttpsService.ISSLService" name="WSHttpBinding_ISSLService" />
    </client>
  </system.serviceModel>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
<system.webServer>

  

  <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  
  <location path="elmah.axd" inheritInChildApplications="false">  </location>
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->  
    </system.web>
  

</configuration>